@charset "utf-8";
/* CSS Document */
<head>
<meta charset="utf-8">
<style type="text/css">
h2{
	font-family:"幼园”;
	font-size:12px;
	color:yellow;
}
h1{
	font-family:"华文仿宋”;
	font-size:12px;
	color:yellow;
}
h3{
	font-family:"宋体”;
	font-size:12px;
	color:yellow;
}
	
</style>
</head>



<body style="background-color:#06F;">
<h2 style="text-align:center;">人类三次技术革命回望</h2>
<h1 style="text-align:center;">第一次工业革命</h1>
<h3 style="text-align:center;">第二次工业革命</h3>
</style>

</body>
</html