@charset "utf-8";
/* CSS Document */
body{
	font-family:"宋体";
	font-size:12pt;
	backgrond-color:#00F;
}
p{
	text-indent:2em;
}
#first{
	font-family:"幼圆";
	color:yollow;
}
#second{
	font-family:"华文仿宋";
	color:yollow;
}
#third{
	font-family:"宋体";
	color:yollow;
}

